
/* Disable default scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-green/20 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-green/30;
}
